<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD NODEJS MYSQL</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark text-light">
        <a href="/" class="navbar-brand">Airis</a>
    </nav>